@import url("https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap");
/* Typography */
/* Buttons */
/* Breakpoints */
/* Typography */
/* Buttons */
/* Breakpoints */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #5282e1;
  position: absolute;
  top: 3px;
  left: 2.5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

/* Typography */
/* Buttons */
/* Breakpoints */
.loadingSpinner {
  border: 2px solid #FFF;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: 23px;
  height: 23px;
  opacity: 1;
  border-radius: 50%;
  animation: loadingSpinner 0.7s infinite linear;
  -webkit-animation: loadingSpinner 0.7s infinite linear;
  z-index: 1; }

button .loadingSpinner {
  margin-top: -12.2727272727px;
  margin-left: -13.5px;
  position: absolute;
  top: 50%;
  left: 50%; }

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes loadingSpinner {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
/* Typography */
/* Buttons */
/* Breakpoints */
.button-container {
  position: static; }
  .button-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #181818;
    color: #ffffff;
    padding: 0.625rem 1.5rem;
    min-width: 15.625rem;
    top: 0;
    margin-top: 1.375rem;
    position: static;
    width: 50%;
    border-radius: 0.125rem; }

button {
  position: relative;
  width: 100%;
  height: 2.875rem;
  background: #181818;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.1875rem;
  font-family: 'Oxygen', sans-serif; }
  button span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.625rem; }
  button svg {
    width: 1.125rem;
    height: 1.125rem;
    position: relative;
    margin: 0 0.5rem;
    top: 0.0625rem; }

button:enabled:hover,
button.spinning {
  background-color: #181818; }

button:disabled {
  cursor: default; }

.button.disabled, .button.disabled:focus, .button.disabled:hover, .button[disabled], .button[disabled]:focus, .button[disabled]:hover {
  background: #181818; }

/* Typography */
/* Buttons */
/* Breakpoints */
#loading-bar {
  background-color: #3882ff;
  height: 0.25rem;
  width: 0;
  position: fixed;
  z-index: 666000666;
  -webkit-transition: width 500ms ease-out, height 500ms ease-out;
  -moz-transition: width 500ms ease-out, height 500ms ease-out;
  -o-transition: width 500ms ease-out, height 500ms ease-out;
  transition: width 500ms ease-out, height 500ms ease-out; }
  #loading-bar.no-transition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  #loading-bar.top, #loading-bar.bottom #loading-bar.left {
    left: 0; }
  #loading-bar.top, #loading-bar.left, #loading-bar.right {
    top: 0; }
  #loading-bar.left, #loading-bar.right {
    width: 0.3125rem;
    height: 0; }
  #loading-bar.bottom {
    bottom: 0; }
  #loading-bar.right {
    right: 0; }

/* Typography */
/* Buttons */
/* Breakpoints */
.size-1 {
  height: 10.625rem;
  width: 10.625rem; }

.size-2 {
  height: 5.625rem;
  width: 5.625rem; }

.size-3 {
  height: 4.125rem;
  width: 4.125rem; }

.size-4 {
  height: 5.875rem;
  width: 5.875rem; }

.size-5 {
  height: 10.125rem;
  width: 10.125rem; }

.size-6 {
  height: 2.875rem;
  width: 2.875rem; }

.size-7 {
  height: 8rem;
  width: 8rem; }

.size-8 {
  height: 2.125rem;
  width: 2.125rem; }

.size-9 {
  height: 5.5rem;
  width: 5.5rem; }

.size-10 {
  height: 5.125rem;
  width: 5.125rem; }

@keyframes Float {
  from {
    transform: translateX(40vw) translateZ(0); }
  to {
    transform: translateX(0vw) translateZ(0); } }
@keyframes FadeFloat {
  0%, 100% {
    opacity: 0; }
  10%, 90% {
    opacity: 1; } }
#clouds {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: FadeIn 4s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-around;
  align-items: baseline; }
  #clouds .cloud {
    background-image: url("../files/cloud.svg");
    background-size: contain;
    background-repeat: no-repeat;
    user-select: none;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-name: Float, FadeFloat; }
    #clouds .cloud:nth-child(1) {
      position: relative;
      top: 5rem; }
    #clouds .cloud:nth-child(2) {
      position: relative;
      top: 10.625rem; }
    #clouds .cloud:nth-child(3) {
      position: relative;
      top: 10rem; }
    #clouds .cloud:nth-child(4) {
      position: relative;
      top: 18.125rem; }
    #clouds .cloud:nth-child(5) {
      position: relative;
      top: 10rem; }
    #clouds .cloud:nth-child(6) {
      position: relative;
      top: -2.5rem; }
    #clouds .cloud:nth-child(7) {
      position: relative;
      top: -3.125rem; }
    #clouds .cloud:nth-child(8) {
      position: relative;
      top: -2.5rem; }
    #clouds .cloud:nth-child(9) {
      position: relative;
      top: -14.375rem; }
    #clouds .cloud:nth-child(10) {
      position: relative;
      top: -1.25rem; }
    #clouds .cloud.front {
      opacity: 0.9;
      min-height: 15rem; }
      #clouds .cloud.front:nth-child(1) {
        animation-duration: 33s; }
      #clouds .cloud.front:nth-child(2) {
        animation-duration: 34s; }
      #clouds .cloud.front:nth-child(3) {
        animation-duration: 20s; }
      #clouds .cloud.front:nth-child(4) {
        animation-duration: 26s; }
      #clouds .cloud.front:nth-child(5) {
        animation-duration: 27s; }
      #clouds .cloud.front:nth-child(6) {
        animation-duration: 28s; }
      #clouds .cloud.front:nth-child(7) {
        animation-duration: 28s; }
      #clouds .cloud.front:nth-child(8) {
        animation-duration: 29s; }
      #clouds .cloud.front:nth-child(9) {
        animation-duration: 30s; }
      #clouds .cloud.front:nth-child(10) {
        animation-duration: 31s 21s; }
      #clouds .cloud.front:nth-child(11) {
        animation-duration: 22s; }
      #clouds .cloud.front:nth-child(12) {
        animation-duration: 24s; }
      #clouds .cloud.front:nth-child(13) {
        animation-duration: 22s; }
      #clouds .cloud.front:nth-child(14) {
        animation-duration: 25s; }
      #clouds .cloud.front:nth-child(15) {
        animation-duration: 26s; }
      #clouds .cloud.front:nth-child(16) {
        animation-duration: 25s; }
      #clouds .cloud.front:nth-child(17) {
        animation-duration: 24s; }
      #clouds .cloud.front:nth-child(18) {
        animation-duration: 23s; }
      #clouds .cloud.front:nth-child(19) {
        animation-duration: 22s; }
    #clouds .cloud.back {
      opacity: 0.6;
      min-height: 2.625rem; }
      #clouds .cloud.back:nth-child(1) {
        animation-duration: 33s; }
      #clouds .cloud.back:nth-child(2) {
        animation-duration: 34s; }
      #clouds .cloud.back:nth-child(3) {
        animation-duration: 20s; }
      #clouds .cloud.back:nth-child(4) {
        animation-duration: 26s; }
      #clouds .cloud.back:nth-child(5) {
        animation-duration: 27s; }
      #clouds .cloud.back:nth-child(6) {
        animation-duration: 28s; }
      #clouds .cloud.back:nth-child(7) {
        animation-duration: 28s; }
      #clouds .cloud.back:nth-child(8) {
        animation-duration: 29s; }
      #clouds .cloud.back:nth-child(9) {
        animation-duration: 30s; }
      #clouds .cloud.back:nth-child(10) {
        animation-duration: 31s 21s; }
      #clouds .cloud.back:nth-child(11) {
        animation-duration: 22s; }
      #clouds .cloud.back:nth-child(12) {
        animation-duration: 24s; }
      #clouds .cloud.back:nth-child(13) {
        animation-duration: 22s; }
      #clouds .cloud.back:nth-child(14) {
        animation-duration: 25s; }
      #clouds .cloud.back:nth-child(15) {
        animation-duration: 26s; }
      #clouds .cloud.back:nth-child(16) {
        animation-duration: 25s; }
      #clouds .cloud.back:nth-child(17) {
        animation-duration: 24s; }
      #clouds .cloud.back:nth-child(18) {
        animation-duration: 23s; }
      #clouds .cloud.back:nth-child(19) {
        animation-duration: 22s; }

/* Typography */
/* Buttons */
/* Breakpoints */
.dropdown-container .drop-anchor {
  pointer-events: none; }
  .dropdown-container .drop-anchor.open {
    pointer-events: all; }
  @media screen and (max-width: 33.875rem) {
    .dropdown-container .drop-anchor {
      width: min-content; } }

.angle-down {
  transform: rotate(90deg);
  height: 1rem;
  width: 1rem;
  margin-left: 1.125rem;
  position: relative;
  top: 0.125rem; }

.angle-left {
  transform: rotate(180deg);
  height: 0.875rem;
  width: 0.875rem;
  position: relative;
  top: 0.375rem;
  right: 0.125rem; }

.drop-button {
  background: #ffffff;
  color: #181818;
  font-size: 0.9375rem;
  margin-bottom: 0.25rem;
  height: 2.84375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .drop-button:hover, .drop-button:focus, .drop-button:active {
    background: #ffffff;
    color: #181818; }
  .drop-button svg {
    transition: ease all 100ms; }
  .drop-button.open svg {
    transform: rotate(180deg);
    transition: ease all 100ms; }
  .drop-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    line-height: 1.125rem; }

.dropcontent {
  opacity: 0;
  background: white;
  padding: 0.5rem;
  border-radius: 0.1875rem;
  font-size: 0.9375rem;
  transition: ease all 200ms;
  margin-top: 0.25rem; }
  .dropcontent .logout-icon {
    width: 1.125rem;
    margin-right: 0.5rem;
    margin-top: -0.125rem; }
  .dropcontent span {
    color: #181818; }
  .dropcontent ul.list-group {
    list-style-type: none;
    margin: 0;
    width: 100%;
    height: 100%; }
    .dropcontent ul.list-group li.list-group-item {
      display: flex;
      justify-content: center; }

.open {
  opacity: 1; }

/* Typography */
/* Buttons */
/* Breakpoints */
.table-container {
  overflow-x: auto;
  border-radius: 0.125rem; }

table.server-table {
  border-collapse: collapse;
  overflow-x: auto;
  margin: 0;
  border: none; }
  table.server-table tbody, table.server-table tfoot, table.server-table thead {
    border: none; }
  table.server-table tbody {
    border: none; }
    table.server-table tbody td .deleteServer, table.server-table tbody td .resetServer {
      cursor: pointer; }
    table.server-table tbody td a {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    table.server-table tbody td img {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 0.5rem; }
    table.server-table tbody td img.status {
      width: 1.25rem;
      height: 1.25rem; }
    table.server-table tbody td, table.server-table tbody th {
      text-align: center; }

.action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818; }
  .action-btn:hover, .action-btn:focus {
    background: #181818; }
  .action-btn svg {
    margin: 0; }
  .action-btn.resetServer {
    background: #181818; }
  .action-btn.deleteServer {
    background: #181818; }
  .action-btn.stopServer {
    background: #181818; }
  .action-btn.startServer {
    background: #181818; }

.button {
  margin: 0; }

.label.warning {
  color: white;
  background: #ffd87a;
  color: #181818; }

.stat-data {
  margin-left: 0.25rem;
  background: #8ae487;
  color: #181818; }

tfoot th, thead th {
  text-align: center; }

@media screen and (max-width: 40rem) {
  table.transform .button img {
    display: none; }
  table.transform thead, table.transform tbody, table.transform th, table.transform td, table.transform tr {
    display: block; }
  table.transform tbody, table.transform tfoot, table.transform thead {
    background: unset;
    border: none !important; }
  table.transform tfoot td, table.transform tfoot th, table.transform thead td, table.transform thead th {
    text-align: center; }
  table.transform tbody, table.transform tfoot, table.transform thead {
    border: none; }
  table.transform thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  table.transform tr {
    margin-bottom: 0.625rem; }
  table.transform td {
    text-align: left !important;
    padding-left: 52% !important;
    border: none; }
  table.transform td {
    border: none;
    border-bottom: 0.0625rem solid #eee;
    position: relative;
    padding-left: 50%;
    background: white; }
  table.transform td:before {
    position: absolute;
    top: 0.625rem;
    left: 0.375rem;
    width: 45%;
    padding-right: 0.625rem;
    white-space: nowrap;
    text-align: left; }
  table.transform td:before {
    font-weight: 600; }
  table.transform td:nth-of-type(1):before {
    content: "Status"; }
  table.transform td:nth-of-type(2):before {
    content: "Type"; }
  table.transform td:nth-of-type(3):before {
    content: "Server ID"; }
  table.transform td:nth-of-type(4):before {
    content: "Verwijder"; }
  table.transform td:nth-of-type(5):before {
    content: "Reset"; }
  table.transform td:nth-of-type(6):before {
    content: "Start / Stop"; } }
.gradient-right span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 4.5rem;
  display: block; }
  .gradient-right span::after {
    content: "";
    position: absolute;
    width: 3.625rem;
    height: 1.5rem;
    background: linear-gradient(to right, rgba(40, 40, 40, 0), white 50%);
    margin-left: -7.375rem; }
  .gradient-right span.odd::after {
    background: linear-gradient(to right, rgba(40, 40, 40, 0), #f1f1f1 50%); }

/* Typography */
/* Buttons */
/* Breakpoints */
.validation-modal {
  display: flex;
  align-items: center; }
  .validation-modal .reset {
    width: 100%; }
  .validation-modal .grid-x {
    background: #ffffff; }
  .validation-modal .message {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 1rem 0; }
  .validation-modal .warning-sign {
    height: 7.375rem;
    margin-top: -1.125rem; }
  .validation-modal .validation-inner {
    display: flex;
    justify-content: center;
    margin: 0.75rem 0; }
  .validation-modal .button-group {
    display: flex;
    justify-content: center; }
    .validation-modal .button-group a {
      height: 2.625rem;
      width: 100%;
      padding: 0.625rem 0.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .validation-modal .button-group a span {
        font-size: 1rem; }
    .validation-modal .button-group .button {
      background: #181818; }
      .validation-modal .button-group .button img {
        height: 1.5rem; }
      .validation-modal .button-group .button svg {
        margin: 0.125rem 0 0 0.5rem; }
      .validation-modal .button-group .button.yes svg {
        height: 1.375rem;
        width: 1.375rem; }
      .validation-modal .button-group .button.no {
        background: #ffffff;
        border: solid 0.0625rem #181818;
        color: #181818; }
        .validation-modal .button-group .button.no img {
          height: 1rem;
          width: 1rem; }

/* Typography */
/* Buttons */
/* Breakpoints */
.dashboard {
  display: flex;
  align-items: center; }

#ajax-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #00000073;
  justify-content: center;
  align-items: center;
  z-index: 99;
  display: none; }

.cell label, .cell input {
  font-size: 0.9375rem; }

.contact {
  position: relative;
  background: white;
  height: auto;
  padding: 0.5rem;
  margin-top: 0;
  padding: 0.5rem; }
  .contact p {
    margin: 0.5rem 0; }
  .contact img {
    height: 1.5rem;
    margin: 0 0.5rem 0 0.25rem; }
  .contact a {
    color: #155abe; }

.options {
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-around; }
  .options img {
    width: 1.75rem;
    padding: 0.25rem; }

.grid-container .grid-x .entry-group {
  min-width: 15rem;
  min-height: 14rem;
  height: 100%;
  background: #ffffff;
  z-index: 99;
  border: solid 0.0625rem #ffffff;
  box-sizing: content-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15); }
  .grid-container .grid-x .entry-group p {
    margin-bottom: 0; }
  .grid-container .grid-x .entry-group img {
    height: 5.5rem; }
  .grid-container .grid-x .entry-group .plus-icon {
    height: 1.125rem; }
  .grid-container .grid-x .entry-group svg {
    height: 1.375rem;
    width: 1.375rem;
    margin: 0.125rem 0 0 0.5rem; }

/* Typography */
/* Buttons */
/* Breakpoints */
body.login, body.register {
  display: flex;
  justify-content: center;
  align-items: center; }
  body.login .login-button, body.register .login-button {
    padding: 0.625rem; }
    body.login .login-button svg, body.register .login-button svg {
      position: absolute;
      right: 10px;
      top: 15px; }
  body.login .grid-container > div, body.register .grid-container > div {
    justify-content: center;
    align-items: center; }
  body.login .grid-container .cloudtion-entry, body.register .grid-container .cloudtion-entry {
    max-width: 36.25rem;
    min-height: 21.25rem;
    min-width: 27.5rem;
    padding: 1.125rem 1.75rem; }
    @media screen and (max-width: 47.9375rem) {
      body.login .grid-container .cloudtion-entry, body.register .grid-container .cloudtion-entry {
        min-width: 20rem;
        padding: 0.25rem; } }
    body.login .grid-container .cloudtion-entry > .cell, body.register .grid-container .cloudtion-entry > .cell {
      width: 100%;
      height: 100%;
      padding: 0.75rem; }
      body.login .grid-container .cloudtion-entry > .cell .top-row, body.register .grid-container .cloudtion-entry > .cell .top-row {
        top: -0.5rem;
        position: relative; }
      body.login .grid-container .cloudtion-entry > .cell h1, body.register .grid-container .cloudtion-entry > .cell h1 {
        font-size: 1.5rem;
        margin: 0.5rem 0; }
      body.login .grid-container .cloudtion-entry > .cell p, body.register .grid-container .cloudtion-entry > .cell p {
        width: 9rem;
        margin: 0.75rem 0;
        text-align: center; }
    body.login .grid-container .cloudtion-entry form, body.register .grid-container .cloudtion-entry form {
      margin: 0;
      width: 100%;
      height: 100%; }
    body.login .grid-container .cloudtion-entry img, body.register .grid-container .cloudtion-entry img {
      height: 5.5rem; }
    body.login .grid-container .cloudtion-entry .form-group button, body.register .grid-container .cloudtion-entry .form-group button {
      top: 0.5rem; }
    body.login .grid-container .cloudtion-entry .button-container, body.register .grid-container .cloudtion-entry .button-container {
      position: static;
      margin-top: 2.8125rem; }
      body.login .grid-container .cloudtion-entry .button-container a, body.register .grid-container .cloudtion-entry .button-container a {
        top: 0;
        margin-top: 1.375rem;
        position: static;
        width: 100%; }

/* Typography */
/* Buttons */
/* Breakpoints */
[data-type='validator-error'] {
  font-size: 1rem;
  position: relative;
  z-index: 10;
  color: #c83535;
  pointer-events: none;
  margin-left: 0.125rem; }

input[class="error"] {
  border: solid 0.0625rem #c83535;
  transition: none; }

.entry-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.25rem; }

.reset {
  background: white;
  border-radius: 0.1875rem;
  border-color: black;
  line-height: 0;
  cursor: pointer;
  position: relative; }
  .reset:hover .icon {
    transition: ease all 200ms;
    transform: rotate(90deg); }
  .reset input {
    text-align: left;
    padding-left: 1.125rem; }
  .reset .icon {
    height: 1.25rem !important;
    position: absolute;
    right: 0.875rem;
    margin-top: 1.0625rem;
    transition: ease all 200ms; }

input:disabled, input[readonly] {
  cursor: initial;
  background-color: unset; }

.cloudtion-entry {
  max-width: 62.5rem;
  min-height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 99;
  box-shadow: 0 0.125rem 0.0625rem rgba(0, 0, 0, 0.15); }
  .cloudtion-entry form {
    margin: 0 0 0.125rem 0; }
  .cloudtion-entry label, .cloudtion-entry input {
    font-size: 0.9375rem; }
  .login .cloudtion-entry .button-container {
    margin: 0 !important; }
  .cloudtion-entry .button-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2.125rem 0 1.25rem 0; }
    .cloudtion-entry .button-container a {
      width: 100%; }
    .cloudtion-entry .button-container .submit button {
      background: none;
      border: none;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      background: inherit; }
    .cloudtion-entry .button-container .submit svg {
      margin-top: 0; }
    .cloudtion-entry .button-container.row {
      flex-flow: row nowrap; }
      @media screen and (max-width: 29.25rem) {
        .cloudtion-entry .button-container.row {
          flex-flow: row wrap-reverse; } }
      .cloudtion-entry .button-container.row .reset-button {
        background: white;
        border: solid 0.0625rem #262626;
        padding: 0;
        position: relative; }
        .cloudtion-entry .button-container.row .reset-button input[type="reset"] {
          background: none;
          border: none;
          width: 100%;
          height: 100%;
          line-height: 1.5625rem;
          cursor: pointer;
          font-family: inherit;
          font-size: inherit;
          padding: 0.625rem 1.25rem;
          text-align: inherit; }
        .cloudtion-entry .button-container.row .reset-button span {
          color: #262626; }
        .cloudtion-entry .button-container.row .reset-button img {
          position: absolute;
          height: 1.375rem;
          right: 1.25rem;
          top: 1rem; }
    .cloudtion-entry .button-container a {
      text-decoration: none;
      background: #27343d;
      padding: 0.625rem 1.25rem;
      margin: 0.25rem;
      color: white;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      min-width: 12.5rem;
      border-bottom: solid 0.125rem transparent;
      width: 100%; }
      .cloudtion-entry .button-container a svg {
        width: 0.625rem;
        margin-left: 0.75rem;
        margin-top: 0.25rem; }

.form-group {
  display: flex;
  flex-flow: column;
  padding: 0.125rem 0;
  margin: 0.25rem 0; }
  .form-group label {
    margin-bottom: 0.25rem; }
    .form-group label[for="server"] {
      margin-bottom: 0.125rem; }
      .form-group label[for="server"]::after {
        content: '';
        border-bottom: solid 2px black;
        width: 78px;
        display: flex; }
  .form-group input {
    height: 1.75rem;
    padding: 1.375rem 0.5rem;
    border: solid 0.0625rem lightgray;
    margin: 0.25rem 0;
    box-shadow: none;
    width: 100%; }
    .form-group input:hover {
      box-shadow: none; }
  .form-group.server {
    margin: 1.375rem 0; }

.requirements {
  font-size: 0.875rem;
  padding: 0.5rem;
  background: white;
  display: none; }
  .requirements ul {
    list-style-type: none;
    margin: 0; }
    .requirements ul li::before {
      content: '';
      position: relative;
      left: -0.625rem; }

.callout {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 0; }
  .callout.border {
    border-left: 0.25rem solid #000; }
  .callout a {
    color: orangered; }
  .callout.cloudtion {
    min-height: 4.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background: transparent;
    border: none; }
    .callout.cloudtion span {
      color: black; }

.logout-container {
  display: flex;
  justify-content: flex-end;
  justify-content: center; }
  .logout-container .callout {
    height: 3.3125rem; }
    @media screen and (max-width: 64rem) {
      .logout-container .callout {
        width: max-content; } }
  .logout-container a {
    display: flex;
    align-items: center;
    height: 100%; }
  .logout-container span {
    line-height: 3rem;
    color: #181818; }
    @media screen and (max-width: 64rem) {
      .logout-container span {
        display: none; } }
  .logout-container img {
    width: 1.375rem;
    margin-right: 0.875rem; }
    @media screen and (max-width: 64rem) {
      .logout-container img {
        margin-right: 0; } }

@media screen and (max-width: 64rem) {
  .on-desktop {
    display: none; }

  .dashboard-icon {
    display: none; }

  .dashboarded .dash-title {
    margin: 0; } }
/* Typography */
/* Buttons */
/* Breakpoints */
html.is-reveal-open.zf-has-scroll {
  overflow-y: auto; }

@media screen and (max-width: 639px) {
  .reveal-overlay {
    background: white; } }

.reveal {
  top: 40% !important;
  width: auto !important;
  transform: translate(0%, -40%);
  overflow: initial; }

.modal-right {
  height: 14.625rem; }

#close-button {
  display: flex;
  cursor: pointer;
  border: solid 0.0625rem #181818;
  width: max-content;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin-top: 2rem; }
  #close-button span {
    margin-left: 0.25rem; }
  #close-button img {
    margin-right: 0.5rem; }

.modal-container {
  background: #ffffff;
  max-width: 62.5rem;
  margin: 0 auto;
  position: relative;
  align-items: center;
  margin: 1.125rem; }
  @media screen and (max-width: 767px) {
    .modal-container {
      margin: 0; } }
  .modal-container .form-leader {
    display: block; }
  .modal-container .callout {
    padding: 0 0.875rem;
    margin: 0.5rem 0 0.875rem 0.5rem; }
  .modal-container .grid-x .cell {
    margin: 0.75rem 0; }
  .modal-container .grid-x .button-group {
    display: flex;
    justify-content: flex-end;
    height: 2.875rem;
    margin: 1.375rem 0; }
    .modal-container .grid-x .button-group button {
      margin-right: 0.25rem; }
    .modal-container .grid-x .button-group span {
      margin-left: 0.25rem; }
    .modal-container .grid-x .button-group button, .modal-container .grid-x .button-group span.reset {
      width: 100%; }
      .modal-container .grid-x .button-group button.delete-btn, .modal-container .grid-x .button-group span.reset.delete-btn {
        width: 18.75rem; }
      .modal-container .grid-x .button-group button img, .modal-container .grid-x .button-group span.reset img {
        height: 1.5rem;
        position: absolute;
        right: 1.375rem;
        margin-top: 0.6875rem; }
    .modal-container .grid-x .button-group input {
      width: 100%;
      height: 100%;
      background: #ffffff;
      border: solid 0.0625rem #181818;
      cursor: pointer;
      padding-left: 0.75rem;
      text-align: left;
      border-radius: 0.125rem; }

.modal-container .callout {
  margin: 0 0 0.875rem 0; }
.modal-container .requirements-container {
  position: relative;
  background: #f9f6f6;
  border-radius: 0.5rem;
  margin-top: 14.5rem;
  display: flex;
  justify-content: flex-end;
  text-align: right; }
  .modal-container .requirements-container .requirements {
    position: absolute; }

table.server-choices tbody tr:last-child {
  border: none; }
table.server-choices tbody td, table.server-choices tbody th {
  padding: 0.875rem 0rem; }
table.server-choices table, table.server-choices thead, table.server-choices tbody, table.server-choices tr, table.server-choices td, table.server-choices tfoot {
  border: none;
  background: none; }

.output-container {
  display: flex;
  align-items: center;
  height: 3rem;
  transition: ease-in 200ms; }
  .output-container .server-logo {
    margin: 0.75rem;
    height: 2rem; }
    .output-container .server-logo.centos {
      height: 2.25rem; }
    .output-container .server-logo.linux {
      height: 1.75rem; }
    .output-container .server-logo.mariadb {
      margin-left: -0.25rem; }

.output-1, .output-2, .output-3, .output-4 {
  position: absolute;
  display: grid;
  grid-template-columns: 3.875rem 1fr;
  align-items: center; }
  .output-1 span, .output-2 span, .output-3 span, .output-4 span {
    font-weight: 600; }

form.delete-form {
  position: relative;
  top: 0.875rem; }

.form-leader.for-delete {
  display: flex;
  justify-content: center;
  margin: 0.3125rem 0 0.5rem; }
.form-leader .form-title {
  position: absolute;
  margin-left: -12.75rem;
  z-index: 11; }

.spinner-icon {
  height: 11.375rem; }

.option-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.625rem 1.25rem;
  justify-content: space-between;
  border: none; }
  .option-container img {
    height: 1.5rem; }

.grid-x.delete-visual > .cell {
  display: flex;
  align-items: center;
  justify-content: center; }
  .grid-x.delete-visual > .cell img {
    height: 3rem; }
.grid-x.delete-visual .vi-1 img {
  height: 2rem; }
.grid-x.delete-visual .vi-2 {
  height: 50px; }
.grid-x.delete-visual .vi-3 {
  height: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #155abe;
  background-image: radial-gradient(circle, #1488CC 0%, #2B32B2 100%);
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  overflow-x: hidden; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.call.warning {
  font-weight: 600;
  color: darkred; }

a[href="register"], a[href="login"] {
  margin-left: 0.25rem; }

.grid-x.top-section {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }
  .grid-x.top-section > .cell {
    height: 5.625rem; }
    @media screen and (max-width: 639px) {
      .grid-x.top-section > .cell:nth-child(1) {
        order: 1; }
      .grid-x.top-section > .cell:nth-child(2) {
        order: 3;
        display: none !important; }
      .grid-x.top-section > .cell:nth-child(3) {
        order: 2; } }
    .grid-x.top-section > .cell.page-title {
      display: flex;
      justify-content: center;
      text-align: center; }
      .grid-x.top-section > .cell.page-title .title-container {
        background: #ffffff;
        width: max-content;
        height: 2.84375rem;
        border-radius: 0.1875rem;
        padding: 0 1.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem; }
        @media screen and (max-width: 639px) {
          .grid-x.top-section > .cell.page-title .title-container {
            margin-left: 0;
            width: 100%; } }
    .grid-x.top-section > .cell.user-menu {
      display: flex;
      justify-content: flex-end; }
    .grid-x.top-section > .cell .logo-container {
      background: #ffffff;
      width: max-content;
      height: 2.84375rem;
      border-radius: 0.1875rem;
      padding: 0 1.375rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 479px) {
        .grid-x.top-section > .cell .logo-container {
          width: min-content;
          padding: 0 1.5rem; } }
      .grid-x.top-section > .cell .logo-container span {
        text-align: right; }

/*# sourceMappingURL=app.css.map */
