@import '../abstracts/base';

.dashboard {
  display: flex;
  align-items: center;
}

#ajax-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #00000073;
  justify-content: center;
  align-items: center;
  z-index: 99;
  display: none;
}

.cell {
  label, input {
    font-size: rem-calc(15);
  }
}

.contact {
  position: relative;
  background: white;
  height: auto;
  padding: rem-calc(8);
  margin-top: 0;
  padding: 0.5rem;

  p {
    margin: rem-calc(8) 0;
  }

  img {
    height: rem-calc(24);
    margin: 0 rem-calc(8) 0 rem-calc(4);
  }

  a {
    color: #155abe;
  }
}

.options {
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-around;

  img {
    width: rem-calc(28);
    padding: rem-calc(4);
  }
}


.grid-container {
  .grid-x {
    .entry-group {
      min-width: rem-calc(240);
      min-height: rem-calc(224);
      height: 100%;
      background: $white;
      z-index: 99;
      border: solid rem-calc(1) $white;
      box-sizing: content-box;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      @include box-shadow;

      p {
        margin-bottom: 0;
      }

      img {
        height: rem-calc(88);
      }

      .plus-icon {
        height: rem-calc(18);
      }

      svg {
        height: rem-calc(22);
        width: rem-calc(22);
        margin: rem-calc(2) 0 0 rem-calc(8);
      }

    }
  }
}