@import '../abstracts/base';

html.is-reveal-open.zf-has-scroll {
  overflow-y: auto;
}

.reveal-overlay {
  @include set-breakpoint(smartphone, down) {
    background: white;
  }
}

.reveal {
  top: 40% !important;
  width: auto !important;
  transform: translate(0%, -40%);
  overflow: initial;
}

.modal-right {
  height: rem-calc(234);
}

#close-button {
  display: flex;
  cursor: pointer;
  border: solid rem-calc(1) $black;
  width: max-content;
  padding: rem-calc(4) rem-calc(12);
  border-radius: rem-calc(4);
  margin-top: rem-calc(32);

  span {
    margin-left: rem-calc(4);
  }

  img {
    margin-right: rem-calc(8);
  }
}

.modal-container {
  background: $white;
  max-width: rem-calc(1000);
  margin: 0 auto;
  position: relative;
  align-items: center;
  margin: rem-calc(18);

  @include set-breakpoint(phablet, down) {
    margin: 0;
  }

  .form-leader {
    display: block;
  }

  .callout {
    padding: 0 rem-calc(14);
    margin: rem-calc(8) 0 rem-calc(14) rem-calc(8);
  }

  .grid-x {

    & .cell {
      margin: rem-calc(12) 0;
      //display: flex;
      //flex-flow: column;
      //justify-content: space-between;
    }

    .button-group {
      display: flex;
      justify-content: flex-end;
      height: rem-calc(46);
      margin: rem-calc(22) 0;

      button {
        margin-right: rem-calc(4);
      }

      span {
        margin-left: rem-calc(4);
      }

      button, span.reset {
        width: 100%;

        &.delete-btn {
          width: rem-calc(300);
        }

        img {
          height: rem-calc(24);
          position: absolute;
          right: rem-calc(22);
          margin-top: rem-calc(11);
        }
      }

      input {
        width: 100%;
        height: 100%;
        background: $white;
        border: solid rem-calc(1) $black;
        cursor: pointer;
        padding-left: rem-calc(12);
        text-align: left;
        border-radius: rem-calc(2);
      }
    }
  }
}

.modal-container {
  .callout {
    margin: 0 0 rem-calc(14) 0;
  }

  .requirements-container {
    position: relative;
    background: #f9f6f6;
    border-radius: rem-calc(8);
    margin-top: rem-calc(232);
    display: flex;
    justify-content: flex-end;
    text-align: right;

    .requirements {
      position: absolute;
    }
  }

}

table.server-choices {

  tbody {
    tr:last-child {
      border: none;
    }
  }

  tbody td, tbody th {
    padding: rem-calc(14) 0rem;
  }

  table, thead, tbody, tr, td, tfoot {
    border: none;
    background: none;
  }
}

.output-container {
  display: flex;
  align-items: center;
  height: rem-calc(48);
  transition: ease-in 200ms;

  .server-logo {
    margin: rem-calc(12);
    height: rem-calc(32);

    &.centos {
      height: rem-calc(36);
    }

    &.linux {
      height: rem-calc(28);
    }

    &.centos {
    }

    &.mariadb {
      margin-left: rem-calc(-4);
    }

    &.ubuntu {
    }
  }
}

.output-1, .output-2, .output-3, .output-4 {
  position: absolute;
  display: grid;
  grid-template-columns: rem-calc(62) 1fr;
  align-items: center;

  span {
    font-weight: 600;
  }
}

form.delete-form {
  position: relative;
  top: rem-calc(14);
}

.form-leader {
  &.for-delete {
    display: flex;
    justify-content: center;
    margin: rem-calc(5) 0 rem-calc(8);
  }

  .form-title {
    position: absolute;
    margin-left: rem-calc(-204);
    z-index: 11;
  }
}

.spinner-icon {
  height: rem-calc(182);
}

.option-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: rem-calc(10) rem-calc(20);
  justify-content: space-between;
  border: none;
  img {
    height: rem-calc(24);
  }
}

.grid-x.delete-visual {
  //margin: rem-calc(28) 0 0px 0px;

  & > .cell {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: rem-calc(48);
    }
  }

  .vi-1 {
    img {
      height: rem-calc(32);
    }
  }

  .vi-2 {
    height: 50px;

  }

  .vi-3 {
    height: 50px;
  }
}